<div class="container">
  <%= @cocktail.name %>
    <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.description %>
      <%= dose.ingredient.name %>

    </p>
  <% end %>
  <div>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
